.document-card-container {
    display: flex;
    flex-direction: column;
    width: 190px;
    min-height: 300px;
    margin: 0 32px 16px 0;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.document-card {
    width: 190px;
    height: 190px;
    border: 1px solid rgb(226, 232, 240);
}

.document-card-text {
    font-size: 16px;
    font-weight: 400;
    margin: 8px 0;
    transition: 0.3s ease;
    color: rgb(16, 122, 197);
    cursor: pointer;
}

.document-card-text:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 600px) {
    .document-card-container {
        width: 350px;
        height: 350px;
    }

    .document-card-text {
        font-size: 18px;
    }
}