.trip-view-main-container {
    width: 100%;
}

.back-to-trip-summary {
    margin-top: 16px;
    display: flex;
}

.back-to-trip-summary > * {
    color: rgb(16, 122, 197);
    cursor: pointer;
}

.trip-first-row {
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
}

.trip-name-title {
    font-size: 24px;
    font-weight: 700;
}

.trip-detail-view-information-container {
    margin-top: 24px;
    width: 100%;
    border: 1px solid rgb(226, 232, 240);
}

.trip-detail-view-documents {
    margin-top: 24px;
    max-width: 100%;
    min-height: 300px;
    border: 1px solid rgb(226, 232, 240);
}

.information-container-title {
    font-size: 20px;
    font-weight: 600;
    margin-top: 16px;
}

.trip-detail-view-time-container {
    display: flex;
}

.activity-addresses {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;
}

.activity-addresses > * {
    display: flex;
    color: rgb(16, 122, 197);
    cursor: pointer;
    align-items: center;
}

.notes {
    margin-top: 32px;
}

.trip-detail-view-documents {
    padding: 24px;
}

.documents-information-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.documents-document-container {
    margin: 24px 0;
    display: flex;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    justify-content: space-between;
}

.change-info-buttons {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 600px) {
    .change-info-buttons {
        flex-direction: column;
    }

    .documents-document-container {
        justify-content: center;
    }
}