.account-and-security-main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.account-and-security-card {
    width: 540px;
    padding: 32px 24px;
    margin-bottom: 48px;
}

@media screen and (max-width: 800px) {
    .account-and-security-card {
        width: 100%;
        margin: 16px;
    }
}