.register-container {
    min-width: 350px;
    border-radius: 20px;
}

.login-text {
    margin-left: 5px;
    color: #6c757d;
    transition: 0.2s ease-in;
}

.login-text:hover {
    color: #3f52e3;
}