.header-container {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 8px;
}

.left-side-header:first-child{
    margin-left: 10px;
}

.right-side-header:last-child  {
    margin-right: 10px;
}

.left-side-header > *, .right-side-header > *:not(:last-child) {
    margin-right: 15px;
    font-weight: 500;
}

.link {
    color: inherit;
    border-bottom: 3px solid transparent;
    transition: 0.2s ease-in;
    font-family: "Inter", sans-serif;
    padding: 8px 16px;
}

.link:hover {
    border-color: #f75940
}

.link .inactive:hover {
    border-color: transparent;
    padding: 0;
}

.header-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    transition: 0.1s ease-in;
}

.header-avatar:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.notification {
    text-decoration: none;
    position: relative;
    display: inline-block;
    border-radius: 2px;
  }

  .notification .badge {
    position: absolute;
    top: 11px;
    right: 9px;
    height: 7px;
    width: 8px;
    border-radius: 50%;
    font-size: 10px;
    background: red;
    color: white;
  }

@media screen and (max-width: 1100px) {
    .left-side-header:first-child {
        margin-left: 0;
    }

    .right-side-header:last-child  {
        margin-right: 0;
    }
}