.header-container {
    display: flex;
    align-items: center;
    min-height: 63px;
    width: 100%;
    justify-content: space-between;
}

.left-side-header, .right-side-header > * {
    margin-right: 10px;
    font-weight: 500;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    padding: 0 0 5px 0;
    transition: 0.2s ease-in;
    font-family: "Inter", sans-serif;
}

a:hover {
    border-color: #f75940
}