.container-wrapper {
  width: 100%;
}

.main-form-container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title {
  font-size: 24px;
  font-weight: 500;
  margin: 24px 12px;
}

.main-info-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 32px;
}

.event-container-information {
  flex: 1;
}


.left-side-container,
.right-side-container {
  display: flex;
  flex-direction: column;
}

.left-side-container {
    gap: 24px;
    flex: 6;
}

.right-side-container {
    flex: 4;
}

.image {
    margin-top: 16px;
    max-height: 220px;
    min-height: 220px;
    border: 1px solid rgb(226, 232, 240);
}

.upload-image-button {
  width: 225px;
  margin-top: 16px;
}

input[type="file"] {
  color: transparent;
}

.inputs {
    width: 100%;
    padding: 8px 12px;
}

.submit-buttons-container {
    display: flex;
    padding: 0px 12px;
    width: 100%;
    justify-content: flex-start;
}

.page-title-wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.submit-buttons-container > * {
    width: 120px;
    margin-top: 16px;
}

.submit-buttons-container > :first-child {
  margin-right: 16px;
}


@media screen and (max-width: 768px) {
  .container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .main-info-container {
    flex-direction: column;
    gap: 0px;
  }

  .event-container-information {
    margin: 0 16px;
  }

  .inputs {
    padding: 0px !important;
    max-width: 235px;
    min-width: 235px;
  }

  .image {
    min-width: 235px;
  }

  .submit-buttons-container {
    padding: 0;
  }

  .submit-buttons-container > * {
      width: 109.5px;
  }

  input[type="file"] {
    min-width: 235px;
  }

  .page-title {
    margin: 24px 0;
  }
}
