.trip-list-container {
    width: 100%;
}

.tabs {
    padding: 0;
}

.information-container-side {
    padding: 24px;
    height: 100%;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.add-trip-button {
    gap: 8px;
}