.trip-list-container {
    width: 100%;
    margin: 0 20px;
}

.tabs {
    padding: 0;
}

.information-container-side {
    padding: 24px;
    height: 100%;
}

.pagination {
    margin-top: 20px;
}

.add-trip-button {
    padding: 0;
}

.add-trip-container {
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
}